---
http_interactions:
- request:
    method: get
    uri: https://bugs.kde.org/jsonrpc.cgi?method=Bug.get&params=%5B%7B%22ids%22:%5B123%5D%7D%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"result":null,"id":"https://bugs.kde.org/","error":{"code":101,"message":"Bug
        #123 does not exist."}}'
  recorded_at: Thu, 11 Aug 2016 13:22:38 GMT
recorded_with: VCR 3.0.3
