---
http_interactions:
- request:
    method: get
    uri: https://bugs.kde.org/jsonrpc.cgi?method=Bug.get&params=%5B%7B%22ids%22:%5B359887%5D%7D%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"https://bugs.kde.org/","error":null,"result":{"faults":[],"bugs":[{"depends_on":[],"op_sys":"Linux","summary":"Neon
        packages change DISTRIB_ID in /etc/lsb-release","cf_commitlink":"","is_open":null,"last_change_time":"2016-05-28T13:04:02Z","whiteboard":"","assigned_to":"jr@jriddell.org","version":"unspecified","keywords":[],"is_cc_accessible":null,"is_confirmed":null,"qa_contact":"","flags":[],"target_milestone":"---","platform":"Kubuntu
        Packages","priority":"NOR","product":"neon","severity":"normal","see_also":[],"cc":["ilgrosso@apache.org","sabayon11@gmail.com","sitter@kde.org"],"creation_time":"2016-02-28T12:00:00Z","component":"general","alias":null,"id":359887,"blocks":[],"status":"RESOLVED","is_creator_accessible":null,"url":"","creator":"L.Bonnaud@laposte.net","cf_versionfixedin":"","dupe_of":null,"classification":"Unclassified","resolution":"FIXED","groups":[]}]}}'
  recorded_at: Thu, 11 Aug 2016 13:37:26 GMT
recorded_with: VCR 3.0.3
